.btn-secondary {
	width: auto;
	height: auto;
	padding: 5px 20px;
	cursor: pointer;
	border: none;
	border-radius: 10px;
	background-color: $color-blue-dark;
	color: #fff;
	font-family: inherit;
	font-size: 18px;
	font-weight: 500;
	transition: background-color 0.5s;
}

.btn-secondary:hover {
	background-color: #fff;
	color: $color-blue-dark;
	outline: solid 2px $color-blue-dark;
}
